<!-- Gameboard -->
<div id="game-wrapper" class="content hide">
    <header class="header">
        <h1>Socket Slayers</h1>
    </header>

    <aside class="aside">
        <h2>Players:</h2>
        <div id="players"></div>
        <%- include('players') %>  <!-- list the two players that are playing the game -->

        <h2>Avatars:</h2>
        <div class="avatar"></div>
        <%- include('avatar') %>
    </aside>

    <aside class="aside-below">
        <h2>Points:</h2>
        <%- include('points') %> <!-- show points -->
    </aside>

    <main class="main">
        <img class="virus" src="/assets/img/virus.svg">
    </main>

    <footer class="footer">
        <p>Game created by the Socket Slayers</p>
    </footer>
</div>