<!-- Gameboard -->
<div id="game-wrapper" class="content hide">
    <header class="header">
        <h1>Socket Slayers</h1>
    </header>

    <aside class="aside">
        <h2>Players:</h2>
        <div id="players"></div>
        <%- include('./players') %>  <!-- list the two players that are playing the game -->
    </aside>

    <aside class="aside-below">
        <h2>Points:</h2>
        <%- include('./points') %> <!-- show points -->
    </aside>

    <main class="main">
        <i class="virus fa-solid fa-virus-covid"></i>
    </main>

    <footer class="footer">
        <p>Game created by the Socket Slayers</p>
    </footer>
</div>