<%- include('partials/head') %>

	<!-- Startpage -->
	<div id="start" class="container">
		<form id="username-form">
			<div class="username">
				<input type="text" id="username" class="" required placeholder="Enter username...">
			</div>
			<div class="dropdown">
				<button class="dropbtn">Choose your avatar</button>
				<div class="dropdown-content">
				  <a href="#"><img src="/assets/img/meteor-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/baby-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/face-frown-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/face-smile-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/person-swimming-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/poo-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/skull-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/user-astronaut-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/user-secret-solid.svg" alt=""></a>
				  <a href="#"><img src="/assets/img/bed-solid.svg" alt=""></a>
				</div>
			  </div>

			<button type="submit" class="">Enter a room to play!</button>
		</form>
	</div>

	<!-- Waitingroom -->
	<div id="waitingroom" class="container hide">
		<form id="waitingroom-form">
			<div>
				<h1>Waiting for another player to join the game.....</h1>
			</div>
		</form>
	</div>

	<!-- Gameboard -->
	<div id="game-wrapper" class="content hide">
		<header class="header">
			<h1>Name of the game</h1>
		</header>

		<aside class="aside">
			<h2>Players:</h2>
			<%- include('partials/players') %>  <!-- list the two players that are playing the game -->
		</aside>

		<aside class="aside-below">
			<h2>Points:</h2>
			<ul id="score"></ul>
			<%- include('partials/points') %> <!-- show points -->
		</aside>

		<main class="main">
		</main>

		<footer class="footer">
			<p>Game created by the Socket Slayers</p>
		</footer>
	</div>
	
<%- include('partials/footer-scripts') %>