<%- include('partials/head') %>

	<!-- Startpage -->
	<div id="start" class="container">
		<form id="username-form">
			<div class="username">
				<input type="text" id="username" class="" required placeholder="Enter username...">
			</div>

			<button type="submit" class="">Enter a room to play!</button>
		</form>
	</div>

	<!-- Waitingroom -->
	<div id="waitingroom" class="container hide">
		<form id="waitingroom-form">
			<div>
				<h1>Waiting for another player to join the game.....</h1>
			</div>
		</form>
	</div>

	<!-- Gameboard -->
	<div id="game-wrapper" class="content hide">
		<header class="header">
			<p>Name of the game</p>
		</header>

		<aside class="aside">
			<p>Users:</p>
			<%- include('partials/players') %>
		</aside>

		<aside class="aside-below">
			<p>Points</p>
		</aside>

		<main class="main">
		</main>

		<footer class="footer">
			<p>the creators</p>
		</footer>
	</div>
	
<%- include('partials/footer-scripts') %>