/* Styles */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka&family=Palette+Mosaic&display=swap');

html{
	font-size: 18;
}

body{
	font-family: 'Fredoka', sans-serif;
	font-size: 16px;
}

h1{
	font-family: 'Palette Mosaic', cursive;
	font-size: 1.5rem;
	text-align: center;
	color: white;
}

h2{
	font-family: 'Bungee', cursive;
	text-align: center;
	font-size: 2rem;
	color: #e63947;
}

h3 {
	font-family: 'Bungee', cursive;
	text-align: center;
	color: white;
}

/* Startpage */
#start {
	width: 100vw;
	height: 100vh;
	background-color: #15172b;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

/* Startpage Form-design */
.form {
	background-color: #303245;
	border-radius: 20px;
	box-sizing: border-box;
}
.start-img {
	padding-top: 5px;
}
#username-form {
	width: 60vw;
	height: 80vh;
	grid-column: 3;
	grid-row: 3;
	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;
}

.title {
	color: #eee;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 10px;
}

.subtitle {
	color: #eee;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.ic1 {
	margin-top: 10px;
}
  
.input {
	background-color: #15172b ;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
}

.username {
	width: 20vw;
	height: 7vh;
}

#username {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 3px 2px rgb(77, 76, 76);
}

/* Startpage - Styles for avatars */
.avatar-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.avatar-content img:hover {
	background-color: white;
	box-shadow: 0 0 2px 1px white;
	border-radius: 10px;
}

/* Hide radiobutton */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
	cursor: pointer;
}
  
/* CHECKED STYLES */
[type=radio]:checked + img {
	border-bottom: 2px solid white;
	padding: 5px;
	background-color: white;
	box-shadow: 0 0 2px 1px white;
	border-radius: 10px;
}

/* Startpage - Styles for submit-button */
.button-wrapper {
	width: 15vw;
	height: 7vh;
}

.submit-btn {
	width: 100%;
	height: 100%;
	background-color: #e63947;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	margin-top: 38px;
	outline: 0;
	text-align: center;
	width: 100%;
	box-shadow: 0 0 2px 0 white;
}

.submit-btn:hover, .submit-btn:active {
	background-color: #F3DE8A;
	box-shadow: 0 0 5px 0 white;
	color: #15172b;
}

button {
	margin-top: 2rem;
}

img {
	width: 40px;
	margin: 4%;
	height: auto;
}

main{
	width: 100%;
	height: 100vh;
}

/* Game page */
#game-wrapper, #waitingForPlayer-wrapper {
	background-color: #E3DEDE;
	width: 100vw;
}

#waitingForPlayer {
	background-color: #15172b;
	width: 80vw;
}

.content {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, minmax(100px, auto));
	grid-gap: 2%;
}

.header {
	background-color:#15172b;
	grid-column: 1/7;
	padding: 10px;
	border-radius: 5px;
	color: #eee;
	display: flex;
	justify-content: space-evenly;
	justify-items: stretch;
	
}

.header-section {
	grid-column: 5/7;
	display: flex;
	justify-content: space-evenly;
	justify-items: stretch;
	width: 100%;
}

.header-section-left-right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	justify-items: stretch;
	width: 100%;
}

.wrapper-avatar-player {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 0;
}
 
#avatar1, #player1, #avatar2, #player2 {
	justify-items: stretch;
}

#avatar1, #avatar2 {
	color: white;
}

.center {
	display: flex;
	justify-content: center;
}

#player1-score, #player2-score {
	color: #e63947;

}
.aside {
	background-color: #15172b;
	padding: 10px;
	color: white;
	grid-column: 5/7;
	grid-row: 2/4;
	border-radius: 10px;
}

#players li{
	list-style-type: none;
	font-size: 1.5rem;
	text-align: center;
}

.aside-below {
	background-color: #15172b;
	color:white;
	grid-column: 5/7;
	grid-row: 4/6;
	border-radius: 10px;
}

#imageWrapper {
	display: flex;
	justify-content: center;
}

.aside-below img {
	width: 80%;
}

.main {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding: 0;
	margin: 0;
	background-color: #303245;
	justify-content: center;
	border-radius: 10px;
	grid-column: 1/5;
	grid-row: 2/7;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.footer {
	background-color: #15172b;
	color: white;
	grid-column: 1/7;
	padding: 10px;
	border-radius: 10px;
}

.hide{
	display: none !important;
}

/*
.square{
	width: 70px;
	height: 70px;
	border: 1px solid grey;
}

.fa-virus-covid {
	color: green;
	font-size: 70px;
} 
*/
.virus{
	/* position: absolute; */
	grid-row: 3;
	grid-column: 3;
	width: 70px;
	transition: 0.1s ease all;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
		transform: translate3d(1px, 1px, 0);
	}
	
	30%, 50%, 70% {
		transform: translate3d(-3px, -1px, 0);
	}
	
	40%, 60% {
		transform: translate3d(3px, 0, 0);
	}
}
